$medium-padding: 20px;
$small-padding: 10px;
$extra-small-padding: 5px;


.mainContainer {
    display: grid;
    grid-template-columns: 20%;
    grid-template-areas: 
    "title title title"    
    "skills illustration illustration"
    "skills illustration illustration";  
}

.title {
    grid-area: title;
}

.language {
    grid-area: language;
}

.socialMedia {
    grid-area: socialMedia;
    position: relative;
    justify-content: center;
}

.mainContainer {
    display: contents;
}


.skills {
    grid-area: skills;
    margin-top: 100px;
    background-color: black;
    display: contents;
    width: 400px;
}

.skillsBars {
    padding: $medium-padding+$extra-small-padding $medium-padding*1.5;   
    font-family: var(--font-family-text);
    margin-top: 60px;    
}

.skillsBars .bar {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.skillsBars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f5f2eb;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #E13A94;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    z-index: 9999;
}

.bar .progress-line.ai span {
    width: 90%;
}

.bar .progress-line.psd span {
    width: 50%;
}

.bar .progress-line.indd span {
    width: 45%;
}

.bar .progress-line.html span {
    width: 40%;
}

.bar .progress-line.css span {
    width: 30%;
}

.percentage {
    float: right;
    transform: scaleX(0);
    transform-origin: left;       
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skillTitlesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.skillTitles {
    font-weight: bold;
}

.container {
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: space-evenly;
    columns: 2;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


img {
    width: 100%;
}

.illustration {

    margin-bottom: 30px;
}



@media screen and (min-width: 768px) {
    .skillsBars .bar {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        margin: 0;
        margin-top: 100px;
        width: 700px;
        columns: 3;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column; 
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;
        grid-area: illustration;
        background-color: red;
    }
    
    .border {
      
     }
  }
  
  @media screen and (min-width: 1280px) {
    .skillsBars .bar {
        margin: 20px 0;  
    }

    .container {
        margin: 0;
        margin-top: 100px;
        float: right;
        position: relative;
        flex-direction: column; 
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;
        grid-area: illustration;
        columns: 3;
        background-color: green;
    }
  }
  
