$medium-padding: 20px;
$small-padding: 10px;
$extra-small-padding: 5px;

.workMedia {
	width: 100px;
}

video {
	width: 80%;
	display: block;
	margin: auto;
}

.videoTitle {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-family-text);
	font-size: var(--font-size-m);
	margin-top: 50px;
	margin-bottom: 20px;
}

.graphicsTitle {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-family-text);
	font-size: var(--font-size-m);
	margin-top: 100px;
}


.rowAi {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.columnAi {
	width: 100%;
	padding: $small-padding 0;
}


.illustrationSize {
	width: 100%;
}

.photoshop {
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screen and (min-width: 768px) {
	.videoTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-m);
		margin-top: 80px;
	}
	.graphicsTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-m);
		margin-top: 80px;
	}
	video {
		width: 70%;
		margin-top: 40px;
	}
	.rowAi {
		display: flex;
		margin-top: 40px;
	}
	.columnAi {
		width: 80%;
		padding: 0 $extra-small-padding;
	}

	.photoshop {
		width: 80%;
		margin-top: 40px;
    	margin-left: auto;
    	margin-right: auto;
		display: block;
		padding: 0 $extra-small-padding;
	}
}

@media screen and (min-width: 1280px) {
	.videoTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-l);
		margin-top: 80px;
	}
	.graphicsTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-l);
		margin-top: 100px;
	}
	video {
		width: 70%;
		margin-top: 40px;
	}

	.photoshop {
		width: 80%;
		margin-top: 40px;
    	margin-left: auto;
    	margin-right: auto;
		display: block;
		padding: 0 $extra-small-padding;
	}
}
  