$medium-padding: 20px;
$small-padding: 10px;
$extra-small-padding: 5px;

.workMedia {
	width: 100px;
}

video {
	width: 80%;
	margin-top: 100px;
	display: block;
	margin: auto;
}


.videoTitle {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-family-text);
	font-size: var(--font-size-m);
	margin-top: 50px;
}

.workTitle {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-family-text);
	font-size: var(--font-size-m);
	margin-top: 100px;
}


.row {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.column {
	width: 100%;
	padding: $small-padding 0;
}


.illustrationSize {
	width: 100%;
}


@media screen and (min-width: 768px) {
	.videoTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-m);
		margin-top: 80px;
	}
	.workTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-m);
		margin-top: 80px;
	}
	video {
		width: 70%;
		margin-top: 40px;
	}
	.row {
		display: flex;
		margin-top: 40px;
	}
	.column {
		width: 80%;
		padding: 0 $extra-small-padding;
	}
}

@media screen and (min-width: 1280px) {
	.videoTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-l);
		margin-top: 100px;
	}
	.workTitle {
		font-family: var(--font-family-title);
		font-size: var(--font-size-l);
		margin-top: 100px;
	}
	video {
		width: 70%;
		margin-top: 100px;
	}
	.row {
		display: flex;
		margin-top: 100px;
	}
	.column {
		width: 70%;
		padding: 0 $small-padding;
	}
}
