:root {
  /* FONT SIZES */
  --font-size-xxl: 60px;
  --font-size-xl: 38px;
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  /* FONT FAMILIES */
  --font-family-title: 'Rubik', Sans-Serif;
  --font-family-text: 'Karla', Sans-Serif; }
